.Grid-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.Grid-section{
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem; 
    place-items: center;
}
.Grid-box{
    width: 100%;
    height: 100%;
}
.Grid-box img{
    height: 100%;
    width: 100%;
}
@media (max-width:991px){
    .Grid-section{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:475px){
    .Grid-section{
        grid-template-columns: repeat(1,1fr);
    }
}