.learning-grid-data{
    /* width: 100%; */
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    /* color: white; */
}
.row1-data{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.row1-data h2{
    /* width: 90%; */
    font-size: 1.2rem;
    font-weight: 300;
}
.image-data{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(216, 211, 211);
}
@media (max-width:991px){
    .learning-grid{
        height: auto;
        padding: 1rem;
    }
    .row1-data{
        width: 100%;
    }
    .row1-data h2{
        font-size: 1.5rem;
        font-weight: 300;
    }
}