.Dataledpart2-container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstpart-dataled{
    width: 90%;
    height: 100%;
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
}
.box-dataled{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* width: 25%; */
    height: auto;
    padding: 2rem;
    gap: 1rem;
    border: 1px solid #525252;
}
.imagerow2{
    width: 100%;
}
.box-svg{
    height: 100px;
    width: 100%;
}
.span-box {
    grid-row: span 2;
    /* gap: 1rem; */
    /* background-color: lightblue; */
}
.dataled-ul{
    width: 100%;
}
.dataled-ul li{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}
@media (max-width:991px){
    .firstpart{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:475px){
    .firstpart{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    li{
        font-size: 1rem;
    }
}
