@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

nav {
  position: fixed;
  width: 100vw;
  height: 72px;
  font-family: "Roboto", sans-serif;
  padding: 0 3.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(20px);
  z-index: 12;
}

.menu-list {
  list-style-type: none;
  display: flex;
}

.nav-link a {
  position: relative;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 0.7rem;
  transition: all 0.5s;
}

.nav-link a::after {
  content: "";
  position: absolute;
  background-color: #3096ff;
  left: 0;
  bottom: 10px;
  height: 0px;
  width: 100%;
  z-index: -1;
  transition: height 0.2s ease-in-out;
}

.nav-link a:hover::after {
  height: 2px;
  width: 100%;
  transition: height 0.2s ease-in-out;
}

.mobile-menu-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

#member-button {
  padding: 10px 20px;
  color: black;
  background-color: white;
  border-radius: 6px;
  border: 1px solid white;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

#member-button:hover {
  cursor: pointer;
}

#menu-bar {
  display: none;
}

@media only screen and (max-width: 991px) {
  nav {
    position: fixed;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: 0.5s height;
  }

  .menu-list {
    flex-direction: column;
    gap: 2.1rem;
  }

  .show-menu {
    height: 100vh;
  }

  .menu-close {
    display: none;
  }
  .menu-open {
    display: flex;
  }

  #member-button {
    padding: 10px 12px;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  #menu-bar {
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .bar {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
  }

  #nav-logo {
    order: 1;
  }

  .menu-list {
    order: 3;
    /* flex-direction: column; */
  }

  .mobile-menu-container {
    order: 2;
  }
}
