.TeamsCardSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem;
}
.teamsCard-content{
    width: 80%;
    border: 1px solid white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}
.teamsCard-content h3{
    font-size: 2.5rem;
    color: rgb(0, 123, 255);
}
.teamsCard-content h2{
    font-size: 2rem;
}
.teamsCard-content p{
    font-size: 1rem;
    color: #8b8b8b;
}
@media (max-width:650px){
    .teamsCard-content{
        padding: 1rem;
    }
    .teamsCard-content h3{
        font-size: 1.5rem;
        color: rgb(0, 0, 255);
    }
    .teamsCard-content h2{
        font-size: 1.5rem;
    }
    .teamsCard-content p{
        font-size: 1rem;
        color: #8b8b8b;
    }
}