body{
    background-color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
.firstpart-event{
    background: linear-gradient(to top, #000000, #fffefe 50%, #f0ecec 75%);
    height:100vh;
    width: 100vw;
    color: #030303;
    text-align: center;
    font-size: x-large;

}
.img1{
    margin-top: 30%;
    margin-bottom: 0%;;

}
.firstpart-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
.firstpart-event p{
    color: rgb(88, 3, 3);
}
.firstpart-event button{
   padding: 1rem 2rem;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  text-decoration: none;
  color: rgb(7, 7, 7);
}
.img{
    float:right;
    width: 50%;
    height:100vh;
}
.secondpart{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.secondpart h1{
    width: 40%;
    font-size: xx-large;
    margin: auto;
    text-align: center;
    padding: 2rem;
}
.secondpart-boxes{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondpart1{
    flex: 1;
   display: flex;
   width: 50%;
   height: 25vh;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 2rem;
   padding: 2rem;
   border-right: 1px solid #2a2929;
   border-bottom: 1px solid #2a2929;
   background-image: linear-gradient(-60deg, rgba(255, 255, 255, .15), rgba(0, 0, 0, 0) 50%);

}

.p1{
    text-shadow: rgb(94, 93, 93) 2px 2px;
    text-align: center;
    font-size: 1rem;
}
.thirdpart-section{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 4rem auto; 
}
.thirdpart{
    width: 100%;
    height: 70%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
}
.thirdpart1-event{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    justify-content: start;
    align-items: start;
}
.thirdpart1 h2{
    place-self: center;
    font-size: 2.5rem;
    font-weight: 400;
    width: 70%;
}
.thirdpart1 h3{
    place-self: center;
    color: rgba(206, 206, 206, .88);
    font-size: 1.2rem;
    font-weight: 400;
    width: 70%;
}
.thirdpart1 p{
    place-self: center;
    color: #8b8b8b;
    font-size: 1.2rem;
    font-weight: 400;
    width: 70%;
}

.thirdpart-img{
    place-self: center;
    height: 70%;
    width: 100%;
    background-size: cover;
}
.secondimage{
    width:100%;
    height:auto;
}
@media only screen and (max-width:991px){
    .firstpart-event{
        width:100vw;
        height:auto;
        padding:10px;
    }
    .img{
        /* float:right; */
        width: 100%;
        height:100%;
    }
    .secondpart{
        width:100%;
    }
    .secondpart-boxes{
        flex-direction: column;
        width: 100%;
    }
    .secondpart1{
        width: 80%;
        padding: 2rem;
    }
    .secondpart h1{
        width: 80%;
        padding: 2rem;
    }
    .thirdpart{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .thirdpart1-event{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .thirdpart1-event h2{
        width: 100%;
        text-align: center;
    }
    .thirdpart1-event h3{
        width: 100%;
        text-align: center;
    }
    .thirdpart1-event p{
        width: 100%;
        text-align: center;
    }
    .fourthpart1{
        width: 100%;
    }
    .fourthpart1 p{
        width: 100%;
    }

    .img{
        float:none;
    }
}
@media (max-width:650px){
    .firstpart{
        width:100%;
        height:auto;
        /* padding:10px; */
    }
    .img{
        /* float:right; */
        width: 100%;
        height:100%;
    }
    .img2{
       /* height: 100%; */
       width: 100%;
       object-fit: cover;
       background-size: cover;
       padding: 0;
       margin: 0;
    }
    .secondpart h1{
        width: 100%;
        font-size: 1rem;
    }
    .secondpart1{
        border-right: none;
        border-bottom: 1px solid #525252;
    }
    .secondpart1 h3{
        width: 100%;
        font-size: 1rem;
    }
    .secondpart1 p{
        width: 100%;
        font-size: .8rem;
    }
    .thirdpart1-event h2{
        font-size: 1.5rem;
    }
    .thirdpart1-event h3{
        font-size: 1.2rem;
    }
    .thirdpart1-event p{
        font-size: .8rem;
    }
     .thirdpart-img{
        height: 50%;
     }
     .fourthpart{
        /* width: 100%; */
        padding: 0rem;
        gap: 0rem;
     }
     .fourthpart1{
        width: 100%;
     }
     .fourthpart1 h3{
        font-size: 1.5rem;
        text-align: center;
     }
     .fourthpart1 p{
        font-size: 1rem;
     }
     .fourthpart1 i{
        font-size: 1.5rem;
     }

}