@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-conainer {
  height: 80%;
  max-width: 100%;
}

#video {
  width: 100%;
  object-fit: contain;
}

.hero-section-mobile {
  display: none;
}

.hero-controls {
  padding-top: 200px;
  align-self: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.glowing-action-button {
  display: inline;
  padding: 10px 40px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: -5px 0 20px -5px #00d1ff, 5px 0 20px -5px #001aff;
  text-decoration: none;
  color: white;
}

.glowing-action-button:hover {
  box-shadow: none;
  background-color: #3096ff;
  border: 1px solid #3096ff;
}

.inner-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.9) 0px -400px 36px -10px inset;
  transform: rotate(0deg);
  z-index: 2;
}

.elevate-text-section {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10rem;
}
#elevate-text-content {
  padding: 0 10rem;
  color: #939393;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5em;
}
#elevate-text-content span {
  color: white;
}

#elevete-blue-heading {
  width: 500px;
  font-size: 80px;
  color: blue;
  background: linear-gradient(to right, rgb(101, 190, 249) -10%, blue 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.elevete-card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 1rem;
  padding: 2rem;
}
#card {
  width: 25%;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #939393;
  gap: 2rem;
  border: 1px solid #939393;
  padding: 2rem;
  border-radius: 12px;
  background-image: linear-gradient(
    320deg,
    #000 44%,
    rgba(255, 255, 255, 0.15)
  );
  box-shadow: 0 10px 20px rgba(113, 112, 112, 0.194),
    0 6px 6px rgba(94, 87, 87, 0.201);
}
#card-title {
  font-size: 2rem;
  color: white;
}
#card-text {
  font-size: 1rem;
  color: rgb(147, 145, 145);
}
.blue-text {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
#blue-headline {
  padding: 0 20rem;
  font-size: 80px;
  background: linear-gradient(to right, rgb(101, 190, 249) 41%, blue 63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  animation: slideIn 1.5s forwards;
}

.pitch-video-section {
  padding: 2rem 0;
  position: relative;
  height: 100vh;
  background-color: black;
}

.pitch-images-container {
  position: absolute;
  top: 90px;
  width: 100%;
  /* height: 100%; */
}

.pitch-images-container #desktop-image {
  display: block;
  margin: 0 auto;
}
.pitch-images-container #mobile-image {
  display: none;
}

.elevate-role-section {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://assets-global.website-files.com/63a49822ee2304acc9455a42/6530b7b03b1624f80f2b7ded_FOLD%2014.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  display: flex;
}

.testimonial-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: linear-gradient(#000, rgba(255, 255, 255, 0) 8%),
    linear-gradient(rgba(255, 255, 255, 0) 29%, #000 55%),
    linear-gradient(306deg, #000 75%, rgba(255, 255, 255, 0.15));
}

#testimonial-text-box {
  padding: 5rem 0;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

#testimonial-text-box h4 {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 2px;
}

#testimonial-text-box p {
  font-size: 1.5rem;
  font-family: "DM Serif Display", "Poppins";
}

#testimonial-text-box .decorative-line {
  margin: 10px 0;
  height: 1px;
  width: 110px;
  background-image: linear-gradient(270deg, #000, rgba(255, 255, 255, 0.59));
}

.testimonial-contact h3 {
  font-size: 1.4rem;
  font-family: "DM Serif Display", "Poppins";
}

.testimonial-contact .profile {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1px;
}

#company-logo {
  width: 35%;
}

#testimonial-text-box a {
  text-align: center;
  width: 45%;
}

/* Progress bar section */
.elevate-bar-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: 60vh;
  width: 100%;
  background-color: black;
}
.elevate-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
  /* padding: 1rem; */
  height: 60%;
  width: 100%;
  position: relative;
  /* border: 2px solid red; */
}
.progress-container {
  margin-top: 60px;
  margin-bottom: 100px;
  padding: 4px;
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #212121;
  border-radius: 5px;
  z-index: 0;
}

.progress-bar {
  height: 32px;
  width: 0;
  border-radius: 5px 5px;
  background: linear-gradient(to right, rgb(101, 190, 249) -10%, blue 100%);
  box-shadow: 5px 0 20px #000;
  position: absolute;
  animation: progressAnimation 5s linear forwards;
}

@keyframes progressAnimation {
  50% {
    width: 40%; /* Stops at half of the container */
  }
  100% {
    width: 40%; /* Ensure the bar stays at half after animation */
  }
}
#practice-image {
  width: 100px;
  z-index: 2;
  position: absolute;
  top: -200%;
  bottom: auto;
  left: auto;
  right: 15%;
}
#structure-image {
  width: 100px;
  position: absolute;
  top: 100%;
  bottom: auto;
  left: 11%;
  right: auto;
  z-index: 2;
}
#bar-section-headline {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 400;
  font-family: "DM Serif Display", "Poppins";
  line-height: 56px;
}
#bar-section-text {
  width: 40%;
  color: rgba(211, 211, 211, 0.621);
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.crack-section {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: black;
}

.crack-section-headline {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  font-family: "DM Serif Display", "Poppins";
}
.crack-section-headline span {
  font-size: 40px;
  text-decoration: blue underline;
  font-family: "DM Serif Display", "Poppins";
}
.crack-section-text {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  color: rgba(211, 211, 211, 0.621);
}
.crack-section-img-grid {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #747474;
  overflow: hidden;
  border-radius: 12px;
  gap: 1rem;
}
.crack-image-section {
  display: flex;
  flex: 2;
}
#crack-image {
  object-fit: contain;
}
.div-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(211, 211, 211, 0.352);
}
.inner-div {
  width: 100%;
  height: 70px;
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid #747474;
  align-items: center;
}
.inner-div span {
  color: #939393ce;
}
#unlock {
  color: white;
}
#qusestion {
  color: blue;
}
.id-text1 {
  color: white;
}
/* Progress bar section */

.mental-model-card-container {
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

.mental-model-card-section {
  padding: 2rem 2rem;
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  border: 1px solid #747474;
  background-image: linear-gradient(
    320deg,
    #000 44%,
    rgba(255, 255, 255, 0.15)
  );
  box-shadow: 0 10px 20px rgba(113, 112, 112, 0.194),
    0 6px 6px rgba(94, 87, 87, 0.201);
}

.mental-model-card-section .text-box {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mental-model-card-section .text-box img {
  width: 80%;
}

.mental-model-card-section .text-box a {
  width: 40%;
  text-align: center;
}

.mental-model-card-section .model-image-box img {
  width: 100%;
}

/* Second last section */
.exclusive-content-container {
  padding: 2rem 2rem;
  background-color: black;
}
.exclusive-content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.exclusive-content-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.exclusive-content-text-container .exclusive-content-heading {
  font-family: "DM Serif Display", "Poppins";
  font-size: 3rem;
}
.exclusive-content-heading span {
  font-family: "DM Serif Display", "Poppins";
  text-decoration: 2px blue underline;
}
.exclusive-content-text-container .content-para {
  font-weight: 300;
  color: #8b8b8b;
}

.exclusive-image-container {
  width: 60%;
  display: flex;
  justify-content: center;
}
.exclusive-image-container img {
  width: 100%;
}
/* Second last section */

@keyframes slideIn {
  from {
    bottom: 0%;
    opacity: 0;
  }
  to {
    bottom: 20%;
    opacity: 1;
  }
}

@media only screen and (max-width: 991px) {
  .hero-section-desktop {
    display: none;
  }
  .hero-section-mobile {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .hero-section-mobile img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .inner-shadow {
    box-shadow: rgba(0, 0, 0, 0.7) 0px -100px 36px -28px inset;
  }

  .elevate-text-section {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: black;
    padding: 1rem;
  }

  #elevate-text-content {
    padding: 0 1rem;
    color: #939393;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
  }
  #elevete-blue-heading {
    width: 100%;
    padding: 0 1rem;
    font-size: 3.2rem;
    font-weight: 500;
    color: blue;
    background: linear-gradient(to right, rgb(101, 190, 249) 41%, blue 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    line-height: 3rem;
  }
  .elevete-card-section {
    padding: 0 1rem;
    flex-direction: column;
  }
  #card {
    width: 90%;
  }
  #card-title {
    font-size: 2rem;
    color: white;
  }
  #card-text {
    font-size: 1rem;
    color: rgb(147, 145, 145);
  }
  .blue-text {
    width: 100%;
    height: 100%;
  }
  #blue-headline {
    padding: 2rem 2rem;
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    line-height: 3rem;
  }

  .pitch-video-section {
    height: 50vh;
    background-color: black;
  }

  .pitch-images-container {
    top: 0;
    display: flex;
    justify-content: start;
    width: 100%;
  }

  .pitch-images-container #desktop-image {
    height: 100%;
    width: 100%;
  }

  .elevate-role-section {
    padding: 10rem 0;
    background-image: url("https://assets-global.website-files.com/63a49822ee2304acc9455a42/6530e4a285f8f6ee8040feff_Frame%201171275493.png");
    background-color: black;
  }
  .testimonial-section {
    padding-top: 2rem;
    min-height: 120vh;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
  }
  #testimonial-text-box {
    width: 80%;
    position: absolute;
    bottom: 0px;
  }
  #testimonial-text-box a {
    padding: 10px 2px;
    width: 50%;
    font-size: 0.8rem;
  }
  #testimonial-image-box {
    display: flex;
    justify-content: center;
  }
  #testimonial-image-box img {
    width: 70%;
  }

  /* Progress Bar Section */
  #bar-section-headline {
    width: 90%;
    text-align: center;
    font-size: 40px;
  }
  #bar-section-text {
    width: 90%;
    text-align: center;
  }

  .crack-section-img-grid {
    flex-direction: column;
  }
  .div-container {
    width: 100%;
    padding: 0 1rem;
  }
  /* Progress Bar Section */

  .exclusive-content-text-container .exclusive-content-heading {
    font-size: 2rem;
    text-align: center;
  }

  .mental-model-card-section {
    flex-direction: column;
  }

  .mental-model-card-section .text-box {
    width: 90%;
  }

  .mental-model-card-section .text-box a {
    width: 50%;
  }

  .exclusive-image-container {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .pitch-video-section {
    height: 100vh;
    background-color: black;
  }

  .pitch-images-container #desktop-image {
    display: none;
  }
  .pitch-images-container #mobile-image {
    display: block;
    width: 100%;
  }
  #testimonial-text-box a {
    padding: 10px 2px;
    width: 50%;
    font-size: 0.8rem;
  }

  .crack-section-headline {
    font-size: 1.5rem;
    line-height: 48px;
  }
  .crack-section-headline span {
    font-size: 1.5rem;
    line-height: 48px;
  }

  .crack-image-section {
    width: 100%;
  }
  .crack-image-section img {
    width: 100%;
  }

  .exclusive-content-text-container .exclusive-content-heading {
    font-size: 1.5rem;
    text-align: center;
  }

  .mental-model-card-section .text-box a {
    width: 80%;
  }
  .exclusive-image-container {
    width: 100%;
  }
}
