*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.threeout{
    color: rgb(0, 0, 0,0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(254, 254, 254);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:70px;
    padding:3px;
}
.threeout1{
    color:rgb(255, 255, 255,0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    padding:5px;
    margin:5px;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.heading p{
    font-size: 1.5rem;
    color: #929292;
}
.threeoutcomes_body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    padding-top: 5%;
}
.bodypart{
    width: 90%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.image{
    width: 50%;
}
img{
    height:100%;
    width: 100%;
}
.threeout_box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.box{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1rem;
    padding: 2rem;
}
@media (max-width:991px){
    .bodypart{
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 0;
    }
    .threeout1{
        font-size: 50px;
    }
    .image{
        height: 90%;
        width: 50%;
    }
    img{
        width:70%;
        height:auto;
    }
    
}
@media (max-width:675px){
    .threeout_box{
        padding: 1rem;
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
}