*{
    box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(16,3,40,1) 30%, rgba(0,31,255,1) 100%);
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn1{
    font-size: x-large;
    margin:1%;
    padding:1%;
    border-radius: 10px;
    box-shadow: rgba(6, 10, 222, 0.63) 2px 3px;
}
.first_line{
    font-size: x-large;
}
.line{
    height:1px;
    width:20%;
    background-color: white;
    margin-left: 40%;
    margin-bottom: 2%;
    margin-top: 3%;
}
img{
   width:100%;
   height:auto;
}
